body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 1fr;
    height: 100vh;
    width: 100vw;
    background-color:#151515;
    font-family: 'Oswald', sans-serif;
}

.header{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    background-color: #f0f0f0;
    text-align: center;
}

.navbar {
    height: 100%;
}

li {
    display: inline;
    padding: 0 5vw;
    letter-spacing: 10px;
    font-size: 30px;
	
}

.hero-image-container {
    position: relative;
}

#hero-image {
    display: block;
    position: relative;
    top: 25%;
}

.form-container {
    text-align: left;
}

form {
    color: #fff;
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
    grid-gap: 0px;
    text-align: right;
    padding: 0 2vw 0 0;
    height: 85vh;
}

label {
    padding: 0 10px 0 0;
}


h4 {
    color: #fff;
    grid-column: 1/7;
    font-size: 36px;
}

h3 {
    text-align: center;
}

#center {
    text-align: center;
}

#trip-style {
    grid-column: 1/7;
    display:grid;
    grid-template-columns: 1fr 1fr;
    text-align:center;
}

#trip-dates {
    grid-column: 1/7;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#destination-locations {
    grid-column: 1/7;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#contact-name {
    grid-column: 1/7;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}



#contact-details {
    grid-column: 1/7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#street-city {
    grid-column: 1/7;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#state-zip {
    grid-column: 1/7;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#passengers {
    grid-column: 1/7;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#passenger-title {
    grid-column: 1/4;
}

#contact-title {
    grid-column: 1/7;
}

#travel-title {
    grid-column: 1/7;
}

#passenger1-details {
    grid-column: 1/2;
}

#passenger2-details {
    grid-column: 2/3;
}

#passenger3-details {
    grid-column: 3/4;
}

#meal-types {
    grid-column: 1/7;
    text-align: center;
    padding-left: 40px;
}

#payment-option-section {
    grid-column: 1/7;
    text-align: center;
    padding-right: 10px;
}

#payment-information {
    grid-column: 1/7;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#form-footer {
    grid-column: 1/7;
}

#submit-button {
    width: 100%;
}

a {
  text-decoration: none;
}
